name: Builds

on:
  push:
    branches:
      - base
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  Runner_Build:
    name: ${{ matrix.save_cache && 'Cache Build' || 'Build' }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - build_type: Release
            runner: windows-2025
            compiler: msvc19
            tracy: false
            build_modules: false
            save_cache: false
            upload_artifact: true
            clang_tidy: false
          - build_type: Debug
            runner: windows-2025
            compiler: msvc19
            tracy: false
            build_modules: false
            save_cache: true
            upload_artifact: false
            clang_tidy: false
          - build_type: Debug
            runner: macos-15
            compiler: appleClang17
            tracy: false
            build_modules: false
            save_cache: true
            upload_artifact: false
            clang_tidy: false
          - build_type: Debug
            runner: ubuntu-24.04
            compiler: gcc14
            tracy: false
            build_modules: false
            save_cache: true
            upload_artifact: false
            clang_tidy: false
          - build_type: Debug
            runner: ubuntu-24.04
            compiler: clang18
            tracy: false
            build_modules: true
            save_cache: true
            upload_artifact: false
            clang_tidy: true
    uses: ./.github/workflows/runner_build.yml
    with:
      runner: ${{ matrix.runner }}
      compiler: ${{ matrix.compiler }}
      build_type: ${{ matrix.build_type }}
      build_modules: ${{ matrix.build_modules }}
      tracy: ${{ matrix.tracy }}
      save_cache: ${{ matrix.save_cache }}
      upload_artifact: ${{ matrix.upload_artifact }}
      clang_tidy: ${{ matrix.clang_tidy }}

  Docker_Build:
    name: ${{ matrix.save_cache && 'Cache Build' || 'Build' }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - build_type: Release
            os: ubuntu
            compiler: gcc14
            tracy: false
            build_modules: false
            save_cache: false
            publish: true
          # - build_type: Debug
          #   os: ubuntu
          #   compiler: gcc14
          #   tracy: false
          #   build_modules: false
          #   save_cache: true
          #   publish: false
          - build_type: Release
            os: alpine
            compiler: clang20
            tracy: false
            build_modules: false
            save_cache: false
            publish: true
    uses: ./.github/workflows/docker_build.yml
    with:
      os: ${{ matrix.os }}
      compiler: ${{ matrix.compiler }}
      build_type: ${{ matrix.build_type }}
      save_cache: ${{ matrix.save_cache }}
      build_modules: ${{ matrix.build_modules }}
      tracy: ${{ matrix.tracy }}
      upload_artifact: false
      publish: ${{ matrix.publish }}
