on:
  workflow_call:
    inputs:
      os:
        description: 'OS (Dockerfile) to build with.'
        required: true
        type: string
      compiler:
        description: 'Compiler to build with.'
        required: true
        type: string
      build_type:
        description: 'CMake build type.'
        required: true
        type: string
      save_cache:
        description: 'Cache build to GHA cache.'
        required: false
        type: boolean
        default: false
      build_modules:
        description: 'Build with modules enabled.'
        required: false
        type: boolean
        default: false
      tracy:
        description: 'Build with tracy enabled.'
        required: false
        type: boolean
        default: false
      upload_artifact:
        description: 'Upload built image.'
        required: false
        type: boolean
        default: false
      publish:
        description: 'Publish image to registry.'
        required: false
        type: boolean
        default: false

jobs:
  Docker_Build:
    name: ${{ format('Docker Build ({0}, {1}, {2})', inputs.os, inputs.compiler, inputs.build_type) }}
    runs-on: ubuntu-latest
    env:
      BUILDX_NO_DEFAULT_ATTESTATIONS: 1 # https://github.com/orgs/community/discussions/45969
      build_id: ${{ format('build-{0}-{1}-{2}-tracy{3}-pch{4}', inputs.os, inputs.compiler, inputs.build_type, inputs.tracy && 'ON' || 'OFF', inputs.build_type == 'Debug' && 'OFF' || 'ON') }}
      ccache_id: ${{ format('ccache-{0}-{1}-{2}-tracy{3}-pch{4}', inputs.os, inputs.compiler, inputs.build_type, inputs.tracy && 'ON' || 'OFF', inputs.build_type == 'Debug' && 'OFF' || 'ON') }}
    steps:
      - name: Lowercase repository owner
        run: |
          echo "REPO_OWNER=${GITHUB_REPOSITORY_OWNER,,}" >>${GITHUB_ENV}
          echo "REPO=${GITHUB_REPOSITORY,,}" >>${GITHUB_ENV}

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Enable modules
        if: ${{ inputs.build_modules }}
        run: |
          python3 <<EOF
          with open("modules/init.txt", "w") as f:
              f.write("custom\n")
              f.write("era\n")
              f.write("example\n")
              f.write("renamer\n")
          EOF

      - uses: docker/setup-buildx-action@v3
        id: setup_buildx

      - name: Restore build cache
        if: ${{ !inputs.save_cache }}
        uses: actions/cache/restore@v4
        env:
          cmake_hash: ${{ hashFiles('**/CMakeLists.txt', '**/*.cmake') }}
          source_hash: ${{ hashFiles('src/**/*', 'ext/**/*') }}
        with:
          path: |
            ${{ format('/tmp/{0}', env.build_id) }}
            ${{ format('/tmp/{0}', env.ccache_id) }}
          key: ${{ format('buildcache-docker-{0}-{1}-{2}-{3}-{4}', inputs.os, inputs.compiler, inputs.build_type, env.cmake_hash, env.source_hash) }}
          restore-keys: |
            ${{ format('buildcache-docker-{0}-{1}-{2}-{3}-', inputs.os, inputs.compiler, inputs.build_type, env.cmake_hash) }}

      - name: Cache build
        id: cache_build
        if: ${{ inputs.save_cache }}
        uses: actions/cache@v4
        env:
          cmake_hash: ${{ hashFiles('**/CMakeLists.txt', '**/*.cmake') }}
          source_hash: ${{ hashFiles('src/**/*', 'ext/**/*') }}
        with:
          path: |
            ${{ format('/tmp/{0}', env.build_id) }}
            ${{ format('/tmp/{0}', env.ccache_id) }}
          key: ${{ format('buildcache-docker-{0}-{1}-{2}-{3}-{4}', inputs.os, inputs.compiler, inputs.build_type, env.cmake_hash, env.source_hash) }}
          restore-keys: |
            ${{ format('buildcache-docker-{0}-{1}-{2}-{3}-', inputs.os, inputs.compiler, inputs.build_type, env.cmake_hash) }}

      - name: Inject cache into container
        uses: reproducible-containers/buildkit-cache-dance@v3.2.0
        with:
          builder: ${{ steps.setup_buildx.outputs.name }}
          cache-map: |
            {
              "${{ format('/tmp/{0}', env.build_id) }}":
                {
                  "target": "/xiadmin/build",
                  "id": "${{ env.build_id }}",
                  "uid": "1000",
                  "gid": "1000"
                },
              "${{ format('/tmp/{0}', env.ccache_id) }}":
                {
                  "target": "/xiadmin/.ccache",
                  "id": "${{ env.ccache_id }}",
                  "uid": "1000",
                  "gid": "1000"
                }
            }
          skip-extraction: ${{ !inputs.save_cache }}

      - name: Docker meta
        id: docker-meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ env.REPO }}
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=ref,event=branch
            type=ref,event=pr
            type=sha
          labels: |
            org.opencontainers.image.authors=LandSandBoat Dev Teams
            org.opencontainers.image.title=LandSandBoat Server (${{ inputs.os }})
            org.opencontainers.image.documentation=https://github.com/LandSandBoat/server/wiki
          flavor: ${{ inputs.os != 'ubuntu' && format('suffix=-{0},onlatest=true', inputs.os) || '' }}

      - name: Build devtools image
        if: ${{ inputs.publish }}
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ format('./docker/{0}.Dockerfile', inputs.os) }}
          target: devtools
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          tags: ${{ format('ghcr.io/{0}/devtools:{1}', env.REPO_OWNER, inputs.os) }}

      - name: Docker build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ format('./docker/{0}.Dockerfile', inputs.os) }}
          push: ${{ inputs.publish }}
          tags: ${{ steps.docker-meta.outputs.tags }}
          labels: ${{ steps.docker-meta.outputs.labels }}
          annotations: ${{ steps.docker-meta.outputs.annotations }}
          platforms: linux/amd64${{ inputs.publish && ',linux/arm64,linux/arm/v7' || '' }}
          build-args: |
            COMPILER=${{ inputs.compiler }}
            CMAKE_BUILD_TYPE=${{ inputs.build_type }}
            TRACY_ENABLE=${{ inputs.tracy && 'ON' || 'OFF' }}
            PCH_ENABLE=${{ inputs.build_type == 'Debug' && 'OFF' || 'ON' }}
            REPO_URL=${{ github.server_url }}/${{ github.repository }}.git
            COMMIT_SHA=${{ github.sha }}
          outputs: ${{ inputs.upload_artifact && format('type=docker,dest={0}/LSB_{1}_image_{2}.tar', runner.temp, inputs.os, github.sha) }}

      - name: Archive image
        if: ${{ inputs.upload_artifact }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ format('LSB_{0}_image_{1}', inputs.os, github.sha) }}
          path: ${{ format('{0}/LSB_{1}_image_{2}.tar', runner.temp, inputs.os, github.sha) }}
