name: PR Checks

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

# # Available machines:
# # https://github.com/actions/runner-images/tree/main
jobs:
  Sanity_Checks:
    name: Sanity Checks
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/landsandboat/devtools:ubuntu
    defaults:
      run:
        shell: bash
    steps:
      # github.workspace is the workspace in the runner (/home/runner/work/server/server)
      # $GITHUB_WORKSPACE is the workspace in the container (/__w/server/server)
      - run: git config --global --add safe.directory $GITHUB_WORKSPACE

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install --upgrade -r ./tools/requirements.txt

      - name: Run checks
        run: ./tools/ci/sanity_checks.sh origin/${{ github.event.pull_request.base.ref }}

      - name: Add sanity checks report to summary
        if: ${{ always() }}
        run: tr -d '\r' < sanity_checks_summary.md >> $GITHUB_STEP_SUMMARY

      - name: Upload changed files as artifact
        uses: actions/upload-artifact@v4
        with:
          name: changed-files
          path: changed-files.txt
        continue-on-error: true

  Lua_Language_server:
    name: Lua Language Server
    needs: Sanity_Checks
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/landsandboat/devtools:ubuntu
    defaults:
      run:
        shell: bash
    steps:
      - name: Download Changed Files
        uses: actions/download-artifact@v4
        with:
          name: changed-files

      - name: Check For Changed Lua Files
        id: check-changes
        run: |
          mapfile -t changed_files < changed-files.txt
          lua_changes=false
          for changed_file in ${changed_files[@]}; do
              if [[ $changed_file == scripts/**/*.lua || $changed_file == modules/**/*.lua ]]; then
                lua_changes=true
                break
              fi
          done
          echo "lua_changes=$lua_changes" >> $GITHUB_OUTPUT

      - run: git config --global --add safe.directory $GITHUB_WORKSPACE

      - uses: actions/checkout@v4
        if: ${{ steps.check-changes.outputs.lua_changes == 'true' }}
        with:
          fetch-depth: 0

      - name: Install Python dependencies
        if: ${{ steps.check-changes.outputs.lua_changes == 'true' }}
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install --upgrade -r ./tools/requirements.txt

      - name: Run Lua Language Server
        id: run_lls
        if: ${{ steps.check-changes.outputs.lua_changes == 'true' }}
        run: python ./tools/ci/lua_lang_server.py

      - name: Summarize run
        id: summarize_run
        if: ${{ steps.check-changes.outputs.lua_changes == 'true' }}
        run: |
          echo "## Lua Language Server Results" >> $GITHUB_STEP_SUMMARY
          found_issues=false
          check_file=lua_lang_errors.txt
          if [[ -f "$check_file" && -s "$check_file" ]]; then
              found_issues=true
              echo "### :x: Run Failed" >> $GITHUB_STEP_SUMMARY
              echo "\`\`\`" >> $GITHUB_STEP_SUMMARY
              tr -d '\r' < "$check_file" >> $GITHUB_STEP_SUMMARY
              echo "\`\`\`" >> $GITHUB_STEP_SUMMARY
              echo "" >> $GITHUB_STEP_SUMMARY
          fi
          if [[ "$found_issues" == "false" ]]; then
              if [[ "${{ steps.run_lls.outcome }}" == "success" ]]; then
                  echo "### :heavy_check_mark: All checks passed." >> $GITHUB_STEP_SUMMARY
              else
                  echo "### :x: Lua Language Server had errors, but no specific output was found." >> $GITHUB_STEP_SUMMARY
                  echo "Check the logs step for details." >> $GITHUB_STEP_SUMMARY
                  found_issues=true
              fi
          fi
          echo "issues_found=$found_issues" >> $GITHUB_OUTPUT

      - name: Fail Workflow if Checks Failed
        if: ${{ steps.check-changes.outputs.lua_changes == 'true' && (steps.run_lls.outcome == 'failure' || steps.summarize_run.outputs.issues_found == 'true') }}
        run: |
          echo "Lua Language Server failed. See summary for details."
          exit 1

  Clang_Tidy:
    needs: Sanity_Checks
    name: Clang Tidy
    uses: ./.github/workflows/runner_build.yml
    with:
      runner: ubuntu-24.04
      compiler: clang18
      build_type: Debug
      build_modules: true
      tracy: false
      upload_artifact: false
      clang_tidy: true
      optional_build: true

  Build:
    needs: Sanity_Checks
    name: ${{ format('Build ({0})', matrix.runner) }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - build_type: Debug
            runner: windows-2025
            compiler: msvc19
            build_modules: false
          - build_type: Debug
            runner: macos-15
            compiler: appleClang17
            build_modules: false
          - build_type: Debug
            runner: ubuntu-24.04
            compiler: gcc14
            build_modules: false
    uses: ./.github/workflows/runner_build.yml
    with:
      runner: ${{ matrix.runner }}
      compiler: ${{ matrix.compiler }}
      build_type: ${{ matrix.build_type }}
      build_modules: ${{ matrix.build_modules }}
      upload_artifact: true

  Test:
    needs: Build
    if: ${{ !cancelled() && needs.Build.result == 'success' }}
    name: ${{ format('Test ({0})', matrix.runner) }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: windows-2025
            test_modules: false
            multi_process: true
          - runner: ubuntu-24.04
            test_modules: false
            multi_process: false
    uses: ./.github/workflows/runner_test.yml
    with:
      runner: ${{ matrix.runner }}
      test_modules: ${{ matrix.test_modules }}
      multi_process: ${{ matrix.multi_process }}

  # Docker_Build:
  #   needs: Sanity_Checks
  #   name: Build
  #   uses: ./.github/workflows/docker_build.yml
  #   with:
  #     os: ubuntu
  #     compiler: gcc14
  #     build_type: Debug
  #     build_modules: false
  #     tracy: false
  #     upload_artifact: true

  # Test_Linux:
  #   name: Testing (Linux)
  #   needs: Docker
  #   if: ${{ !cancelled() && needs.Docker.result == 'success' }}
  #   runs-on: ubuntu-latest
  #   defaults:
  #     run:
  #       shell: bash
  #   env:
  #     artifact_name: LSB_ubuntu_image_${{ github.sha }}
  #     XI_NETWORK_SQL_HOST: database
  #     XI_NETWORK_SQL_PORT: 3306
  #     XI_NETWORK_SQL_DATABASE: xidb
  #     XI_NETWORK_SQL_LOGIN: xiadmin
  #     XI_NETWORK_SQL_PASSWORD: 'password'
  #   services:
  #     database:
  #       image: mariadb:lts
  #       env:
  #         MARIADB_DATABASE: ${{ env.XI_NETWORK_SQL_DATABASE }}
  #         MARIADB_USER: ${{ env.XI_NETWORK_SQL_LOGIN }}
  #         MARIADB_PASSWORD: ${{ env.XI_NETWORK_SQL_PASSWORD }}
  #         MARIADB_RANDOM_ROOT_PASSWORD: true
  #       ports:
  #         - 3306:3306
  #       options: >-
  #         --health-cmd="healthcheck.sh --connect --innodb_initialized"
  #         --health-interval=10s
  #         --health-timeout=10s
  #         --health-retries=10
  #   steps:
  #     - uses: actions/checkout@v4
  #       with:
  #         fetch-depth: 1
  #         submodules: recursive # For navmeshes

  #     - name: Download artifact
  #       uses: actions/download-artifact@v4
  #       with:
  #         name: ${{ env.artifact_name }}
  #         path: ${{ runner.temp }}

  #     - name: Start container
  #       env:
  #         PR_NUMBER: ${{ github.event.pull_request.number || github.event.number }}
  #       run: |
  #         IMAGE_TO_RUN="ghcr.io/${{ github.repository }}:pr-${PR_NUMBER}"
  #         docker load --input ${{ runner.temp }}/${{ env.artifact_name }}.tar
  #         docker run -dt \
  #           --name test-server \
  #           --user root \
  #           --network ${{ job.services.database.network }} \
  #           --mount type=bind,src=./navmeshes,dst=/server/navmeshes \
  #           --mount type=bind,src=./losmeshes,dst=/server/losmeshes \
  #           --mount type=bind,src=.,dst=/server/log \
  #           --env XI_NETWORK_SQL_HOST=database \
  #           --env XI_NETWORK_SQL_PORT=${{ env.XI_NETWORK_SQL_PORT }} \
  #           --env XI_NETWORK_SQL_DATABASE=${{ env.XI_NETWORK_SQL_DATABASE }} \
  #           --env XI_NETWORK_SQL_LOGIN=${{ env.XI_NETWORK_SQL_LOGIN }} \
  #           --env XI_NETWORK_SQL_PASSWORD=${{ env.XI_NETWORK_SQL_PASSWORD }} \
  #           "$IMAGE_TO_RUN"

  #     - name: Initialize database
  #       id: init_db
  #       run: docker exec test-server /bin/bash -c 'python ./tools/dbtool.py update'

  #     - name: Run tests
  #       id: tests
  #       timeout-minutes: 10
  #       run: docker exec test-server /bin/bash -c 'python -m tools.ci.startup_checks'

  #     - name: Summarize checks
  #       id: summarize_checks
  #       if: ${{ always() }}
  #       run: |
  #         echo "## Startup Results" >> $GITHUB_STEP_SUMMARY
  #         found_issues=false
  #         for log_file in ./*.log; do
  #             if [[ -f "$log_file" && -s "$log_file" ]]; then
  #                 if grep -qi "warning\|error\|crash\|critical" "$log_file"; then
  #                     found_issues=true
  #                     log_name=$(basename "$log_file" .log | sed 's/.*/\u&/; s/-\(.\)/ \u\1/g')
  #                     echo "### :x: ${log_name} Checks Failed" >> $GITHUB_STEP_SUMMARY
  #                     echo "\`\`\`" >> $GITHUB_STEP_SUMMARY
  #                     grep -i "warning\|error\|crash\|critical" "$log_file" >> $GITHUB_STEP_SUMMARY
  #                     echo "\`\`\`" >> $GITHUB_STEP_SUMMARY
  #                     echo "" >> $GITHUB_STEP_SUMMARY
  #                 fi
  #             fi
  #         done
  #         if [[ "$found_issues" == "false" ]]; then
  #             if [[ "${{ steps.tests.outcome }}" == "success" ]]; then
  #                 echo "### :heavy_check_mark: All checks passed." >> $GITHUB_STEP_SUMMARY
  #             else
  #                 echo "### :x: Combat check failed, but no specific errors were found." >> $GITHUB_STEP_SUMMARY
  #                 echo "Check the logs for details." >> $GITHUB_STEP_SUMMARY
  #                 found_issues=true
  #             fi
  #         fi
  #         for log_file in ./*.log; do
  #             if [[ -f "$log_file" && -s "$log_file" ]]; then
  #                 log_name=$(basename "$log_file" .log | sed 's/.*/\u&/; s/-\(.\)/ \u\1/g')
  #                 echo "### :sailboat: ${log_name}" >> $GITHUB_STEP_SUMMARY
  #                 echo "\`\`\`" >> $GITHUB_STEP_SUMMARY
  #                 cat "$log_file" >> $GITHUB_STEP_SUMMARY
  #                 echo "\`\`\`" >> $GITHUB_STEP_SUMMARY
  #                 echo "" >> $GITHUB_STEP_SUMMARY
  #             fi
  #         done
  #         echo "issues_found=$found_issues" >> $GITHUB_OUTPUT

  #     - name: Fail Workflow if Checks Failed
  #       if: ${{ steps.tests.outcome == 'failure' || steps.summarize_checks.outputs.issues_found == 'true' }}
  #       run: |
  #         echo "Startup checks failed. See summary for details."
  #         exit 1
