name: publish_meshes

on:
  push:
    branches:
      - base
    paths:
      - './losmeshes/**'
      - './navmeshes/**'
      - '.gitmodules'
  workflow_dispatch:

jobs:
  Meshes_Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/ximeshes
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
          labels: |
            org.opencontainers.image.authors=LandSandBoat & EdenServer Dev Teams
            org.opencontainers.image.title=FFXI Meshes
            org.opencontainers.image.description=Line-of-sight and navigation meshes for use with LandSandBoat server.

      - name: Build and push
        uses: docker/build-push-action@v6
        env:
          BUILDX_NO_DEFAULT_ATTESTATIONS: 1
        with:
          context: .
          file: ./docker/meshes.Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
